BOT_TOKEN=8759256550:AAEyaqxm-XWtLNjLObqmMetTOlKBRMhDcT0
BOT_USERNAME=topfilmlar_robot
ADMIN_ID=8251830471

# PostgreSQL ma'lumotlar bazasi
DB_HOST=psql.fr-roub1.bengt.wasmernet.com
DB_PORT=20184
DB_NAME=TopFilm
DB_USER=user_162b547c
DB_PASS=pw_eRvi5x1ojzOGN33QKA9Qtj6i9TVTqriq
